// @import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
$MainColor: #ec1f27 !important;

// .cls-1 {
//   fill: #ec1f27 !important;
//   // fill: #111 !important;
// }

.cls-1 {
  fill: none !important;
}
.cls-2 {
  fill: none !important;
}
.cls-3 {
  fill: none !important;
}
.cls-4 {
  fill: none !important;
}
.cls-5 {
  fill: none !important;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #ec1f27;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ec1f27;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
// ! SWIPER PLUGIN Code
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 1.8rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
// ! SWIPER PLUGIN Code

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // font-family: "Comfortaa", sans-serif !important;
  font-family: "Inter Tight", sans-serif !important;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
*,
body {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body.active,
html.active {
  overflow: hidden;
}
body.active2,
html.active2 {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.container {
  max-width: 134rem;
  padding: 0 2rem;
  margin: 0 auto;
}
.imgContainer {
  overflow: hidden;
}
.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 5000.9px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (max-width: 3499.9px) {
  html {
    font-size: 13px;
  }
}
@media only screen and (max-width: 2499.9px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1999.9px) {
  html {
    font-size: 11px;
  }
}
@media only screen and (max-width: 1600.9px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 1199.9px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (max-width: 1023.9px) {
  html {
    font-size: 8px;
  }
}
@media only screen and (max-width: 991.9px) {
  html {
    font-size: 7px;
  }
}
@media screen and (max-width: 767.9px) {
  html {
    font-size: 7px;
  }

  .container {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
// RESET CODE
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem 2rem;
}
@media only screen and (min-width: 1199.9px) {
  .xl-1 {
    grid-column: span 1;
  }

  .xl-2 {
    grid-column: span 2;
  }

  .xl-3 {
    grid-column: span 3;
  }

  .xl-4 {
    grid-column: span 4;
  }

  .xl-5 {
    grid-column: span 5;
  }

  .xl-6 {
    grid-column: span 6;
  }

  .xl-7 {
    grid-column: span 7;
  }

  .xl-8 {
    grid-column: span 8;
  }

  .xl-9 {
    grid-column: span 9;
  }

  .xl-10 {
    grid-column: span 10;
  }

  .xl-11 {
    grid-column: span 11;
  }

  .xl-12 {
    grid-column: span 12;
  }
}
@media only screen and (max-width: 1199.9px) and (min-width: 991.9px) {
  .lg-0 {
    display: none;
  }

  .lg-1 {
    grid-column: span 1;
  }

  .lg-2 {
    grid-column: span 2;
  }

  .lg-3 {
    grid-column: span 3;
  }

  .lg-4 {
    grid-column: span 4;
  }

  .lg-5 {
    grid-column: span 5;
  }

  .lg-6 {
    grid-column: span 6;
  }

  .lg-7 {
    grid-column: span 7;
  }

  .lg-8 {
    grid-column: span 8;
  }

  .lg-9 {
    grid-column: span 9;
  }

  .lg-10 {
    grid-column: span 10;
  }

  .lg-12 {
    grid-column: span 12;
  }
}
@media only screen and (max-width: 991.9px) and (min-width: 767.9px) {
  .md-0 {
    display: none;
  }

  .md-1 {
    grid-column: span 1;
  }

  .md-2 {
    grid-column: span 2;
  }

  .md-3 {
    grid-column: span 3;
  }

  .md-4 {
    grid-column: span 4;
  }

  .md-5 {
    grid-column: span 5;
  }

  .md-6 {
    grid-column: span 6;
  }

  .md-7 {
    grid-column: span 7;
  }

  .md-8 {
    grid-column: span 8;
  }

  .md-9 {
    grid-column: span 9;
  }

  .md-10 {
    grid-column: span 10;
  }

  .md-12 {
    grid-column: span 12;
  }
}
@media only screen and (max-width: 767.9px) {
  .sm-0 {
    display: none;
  }

  .sm-3 {
    grid-column: span 3;
  }

  .sm-4 {
    grid-column: span 4;
  }

  .sm-6 {
    grid-column: span 6;
  }

  .sm-12 {
    grid-column: span 12;
  }
}
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #121212;
}
input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent !important;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  outline: 0;
  cursor: pointer;
  padding: 0;
  border: none;
  // font-family: "Comfortaa", sans-serif !important;
  font-family: "Inter Tight", sans-serif !important;
}
button,
input,
textarea,
select {
  outline: 0;
}
ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.blockCardLink {
  display: block;
}

// !     Pages
// ? HeroSlider.jsx
.heroSliderLink {
  width: 100%;
  height: 100%;
}
#homePageBanner {
  padding: 2rem 0;
  .heroSlider {
    width: 100% !important;
    height: 100% !important;
    border-radius: 2rem !important;
    .heroSliderItem {
      border-radius: 2rem !important;
      border: 1px solid rgb(235, 235, 235) !important;
      // height: 55rem !important;
      width: 100% !important;
      height: 100% !important;
      // position: relative !important;
      .homePageBanner {
        width: 100% !important;
        height: 100% !important;
        border-radius: 2rem !important;
        object-fit: cover;
      }
      .heroSliderContent {
        position: absolute !important;
        color: #fff;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 2rem;
        span {
          max-width: 35rem;
          font-size: 4rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        strong {
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 600;
          line-height: 1.5362rem;
          letter-spacing: 0.102rem;
          text-transform: uppercase;
        }
        button {
          background-color: #fff;
          border-radius: 2rem;
          margin-top: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.7rem 1.5rem;
          gap: 1rem;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.0011rem;
        }
      }
    }
  }
  .bannerStaticCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    .bannerStaticCard {
      border: 1px solid rgb(235, 235, 235) !important;
      text-align: center;
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 2rem !important;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2rem !important;
      }
      .bannerStaticCardItem {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
        color: #fff;
        strong {
          color: #fff;
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        span {
          font-size: 2rem;
          font-style: normal;
          font-weight: 600;
          line-height: 2.0362rem;
          letter-spacing: 0.062rem;
          text-transform: uppercase;
          text-align: start;
        }
        button {
          background-color: #fff;
          border-radius: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem 1rem;
          gap: 1rem;
          margin-top: 1rem;
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.0011rem;
          .shoopNowIcon {
            background-color: #ec1f27;
            border-radius: 50%;
            color: #fff;
            width: 15px;
            height: 15px;
          }
        }
      }
      .bannerStaticCardItemRight {
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
        color: #fff;
        strong {
          color: #fff;
          font-size: 1.3rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        span {
          font-size: 2rem;
          font-style: normal;
          font-weight: 600;
          line-height: 2.0362rem;
          letter-spacing: 0.062rem;
          text-transform: uppercase;
          text-align: start;
        }
        button {
          background-color: #fff;
          border-radius: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem 1rem;
          gap: 1rem;
          margin-top: 1rem;
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.0011rem;
          .shoopNowIcon {
            background-color: #ec1f27;
            border-radius: 50%;
            color: #fff;
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}
#bannerLeft {
  position: relative;
}
.swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;
  transition: all 0.4s ease !important;
  background-color: #a36868 !important;
}
.swiper-pagination-bullet-active {
  transition: all 0.4s ease !important;
  width: 25px !important;
  background-color: #ec1f27 !important;
  border-radius: 1rem !important;
}
.hero-custom-pagination {
  position: absolute;
  top: 0;
  bottom: 30px !important;
  left: 30px !important;
  z-index: 1;
  .swiper-pagination-bullet {
    width: 7px !important;
    height: 7px !important;
    // background-color: #fff !important;
    transition: all 0.4s ease !important;
    background-color: #ec1f27 !important;
  }
  .swiper-pagination-bullet-active {
    transition: all 0.4s ease !important;
    width: 25px !important;
    background-color: #ec1f27 !important;
    // background-color: #fff;
    border-radius: 1rem !important;
  }
}
.my-custom-pagination {
  position: absolute !important;
  bottom: 2rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 1 !important;
  cursor: pointer;
}
.count-custom-pagination {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer;
  margin-top: 3rem;
}
// ? HeroSlider.jsx

// ? StaticInfo.jsx
#staticInfo {
  padding: 1rem 0 2rem;
  .rowdurbu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .staticInfoCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    gap: 1.8rem;
    .staticInfoImage {
      font-size: 5rem;
      cursor: pointer;
      color: #ec1f27;
      padding-top: 1rem;
      position: relative;
      .deliveryIcon {
        width: 6rem;
        height: 4rem;
      }
      .officialIcon {
        width: 4.5rem;
        height: 4rem;
        flex-shrink: 0;
      }
      .supportIcon {
        width: 5rem;
        height: 4rem;
        flex-shrink: 0;
      }
    }
    .staticInfoContent {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      cursor: pointer;
      text-align: start;
      gap: 0.5rem;
      span {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 700;
        // line-height: 1.1362rem;
        // letter-spacing: 0.05rem;
      }
      strong {
        font-size: 1.3rem;
        font-weight: 500;
        opacity: 0.7;
      }
    }
  }
}
// ? StaticInfo.jsx

// ? HomePageProductsCard.jsx
.productsHeadTitle {
  margin: 5rem 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  span {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $MainColor;
      transition: all 0.05s ease-in-out;
    }
  }
}

.secondHomePageProductsCard {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 8rem;
  border-radius: 3rem;
  border: 1px solid #eceff2;
  .secondHomePageProductsCardImage {
    display: flex;
    justify-content: center;
    padding: 2.5rem 0;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .secondHomePageProductsCardContent {
    padding: 0 2rem;
    text-align: start;
    span {
      font-size: 1.6rem;
      color: #111;
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .discount {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 1rem;
      span {
        border-radius: 3rem;
        padding: 0.5rem 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.3rem;
        background-color: #ec1f27;
      }
    }
    .cardBottomContent {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 2rem 0;
      .price {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        .oldPrice {
          text-decoration: line-through;
          opacity: 0.7;
          font-size: 1.3rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .newPrice {
          font-size: 1.6rem;
          color: #ec1f27;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .wishList {
        display: flex;
        gap: 1rem;
        button {
          background-color: #f3f3f3;
          border-radius: 1rem;
          font-size: 2rem;
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #111;
          .newScalePR {
            width: 2.3rem;
            height: 2.3rem;
          }
          .newWishlistPR {
            width: 2.3rem;
            height: 2.3rem;
          }
        }
      }
    }
  }
  .addToCartClick {
    width: 100%;
    height: 8rem;
    margin: 0;
    margin-top: -3rem;
    padding: 0;
    opacity: 0;
    transition: margin-top 0.4s ease-in-out, opacity 0.4s ease-in-out;
    position: absolute;
    z-index: 9999 !important;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border: 1px solid #eceff2;
    border-top: none;
    background-color: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    .addToCartClickItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 2rem;
      .cartBtn {
        background-color: #ec1f27;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 500;
        border-radius: 1rem;
        width: 12rem;
        height: 4.5rem;
      }
      .clickBtn {
        background-color: #f3f3f3;
        color: #111;
        font-size: 1.8rem;
        font-weight: 500;
        border-radius: 1rem;
        width: 12rem;
        height: 4.5rem;
        transition: all 0.4s ease-in-out;
        &:hover {
          background-color: #ec1f27;
          color: #fff;
        }
      }
    }
  }
  &:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 0rem !important;
    border-bottom-left-radius: 0rem !important;
    .addToCartClick {
      width: 100% !important;
      margin-top: -10px;
      margin-left: -5px;
      opacity: 1;
    }
  }
}
// !

// ? HomePageProductsCard.jsx

// ? HomePageCountProduct.jsx
#homePageCountProduct {
  padding: 3rem 0 3rem 0;
  .homePageCountProductTitle {
    text-align: center;
    padding: 1rem 0 3rem 0;
    span {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }
  .homePageCountProducts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    gap: 1rem;
    width: 100% !important;
    border: 2px solid $MainColor;
    .homePageCountProductsImage {
      padding: 1rem;
      padding-right: 0;
      border-radius: 2rem;
      display: flex;
      justify-content: flex-start !important;
      width: 50%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .homePageCountProductsContent {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding-right: 2rem !important;
      gap: 0.5rem;
      .countDownRating {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        p {
          font-size: 1.2rem;
          opacity: 0.7;
        }
      }
      .miniTitle {
        font-size: 1.3rem;
        opacity: 0.8;
        color: rgb(102, 101, 101);
        font-weight: 500;
      }
      .productsMiniTitle {
        color: blue;
        font-size: 1.8rem;
        font-weight: 500;
      }
      .miniPrice {
        color: $MainColor;
        font-weight: 500;
      }
      .soldAviable {
        width: 100%;
        .aviableText {
          font-size: 1.2rem;
          opacity: 0.8;
          strong {
            color: $MainColor;
            font-weight: 500;
            padding-left: 0.5rem;
          }
        }
        .soldText {
          font-size: 1.2rem;
          opacity: 0.8;
          strong {
            color: $MainColor;
            font-weight: 500;
            padding-left: 0.1rem;
          }
        }
      }
    }
  }
}
// secondary
.secondaryProductsHeadTitle {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .secondaryTitleLeft {
    span {
      font-size: 2.2rem;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        // border-bottom: 2px solid #ec1f27;
        // transition: all 0.2s ease-in-out;
        text-decoration: underline;
        text-decoration-color: $MainColor;
        transition: all 0.05s ease-in-out;
      }
    }
  }
  .secondaryTitleRight {
    display: flex;
    align-items: center;
    gap: 1rem;
    strong {
      border: 1px solid lightgray;
      border-radius: 3rem;
      color: $MainColor;
      padding: 0.4rem 1rem;
      font-size: 1.2rem;
      cursor: pointer;
    }
    span {
      font-size: 2rem;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        text-decoration-color: $MainColor;
        transition: all 0.05s ease-in-out;
      }
    }
  }
}
// ? HomePageCountProduct.jsx

// ? ProductsReview.jsx
#homePageProductReview {
  background: #f3f7fc;
  margin-top: 1rem;
  .reviewRow {
    padding: 2rem 2rem 5rem;
  }
  .productReviewTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem 3rem;
    .reviewTitleLeft {
      span {
        font-size: 2.2rem;
        font-weight: 600;
        flex-shrink: 0;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          // border-bottom: 2px solid #ec1f27;
          // transition: all 0.2s ease-in-out;
          text-decoration: underline;
          text-decoration-color: $MainColor;
          transition: all 0.05s ease-in-out;
        }
      }
    }
    .reviewTitleRight {
      button {
        background-color: $MainColor;
        font-size: 1.6rem;
        padding: 1.5rem 3rem;
        border-radius: 1rem;
        font-weight: 600;
        border: 1px solid lightgray;
        transition: all 0.4s ease-in-out;
        color: #fff;
        &:hover {
          background-color: #f3f7fc !important;
          color: #111;
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }
  .productsReviewSlide {
    width: 100%;
    height: 25rem !important;
    border-radius: 1rem;
    .productsReviewLink {
      width: 100% !important;
      height: 100% !important;
      border-radius: 1rem;
      .productsReviewCard {
        border-radius: 1rem;
        width: 100% !important;
        height: 100% !important;
        position: relative;
        .reviewCardImage {
          width: 100% !important;
          border-radius: 1rem;
          height: 100% !important;
          object-fit: cover !important;
        }
        .reviewPlayIcon {
          border-radius: 0.5rem;
          width: 4rem;
          height: 4rem;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .revPlayIcon {
            color: $MainColor;
            font-size: 2rem;
          }
        }
      }
    }
  }
}
// ? ProductsReview.jsx

// ? HomePageBrands.jsx
#homePageBrands {
  border-bottom: 1px solid lightgray !important;
  .homePageBrands {
    padding: 5rem 0 8rem;
    .homePageBrandsTitle {
      padding: 2rem 0;
      span {
        font-size: 2.2rem;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          // border-bottom: 2px solid $MainColor;
          // transition: all 0.2s ease-in-out;
          text-decoration: underline;
          text-decoration-color: $MainColor;
          transition: all 0.05s ease-in-out;
        }
      }
    }
    .homePageBrandCard {
      width: 100%;
      height: 100%;
      border: 1px solid #dddfe1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      .homePageBrandCardImage {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        width: 15rem;
        height: 6rem;
        margin: 2rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
// ? HomePageBrands.jsx

// !     Pages
/* Popup açma butonu */
.open-btn {
  padding: 10px 20px;
  background-color: #fff;
  color: #111;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  height: 5rem;
  &:hover {
    background-color: $MainColor;
    color: #fff;
  }
}
/* Overlay (arka plan) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12999999999999999;
}
/* Popup penceresi */
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 350px;
  height: 275px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  span {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .numberModal {
    display: flex;
    border-bottom: 2px solid black;
    width: 100%;
    gap: 1rem;
    label {
      font-size: 1.4rem;
      font-weight: 600;
      width: 150px;
      padding: 1rem 0;
    }
    input {
      border: none;
      font-size: 1.4rem;
      outline: none;
      font-weight: 600;
      width: 100%;
      padding: 1rem 0;
    }
  }
}
/* Popup kapatma butonu */
.close-btns {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

// !  ProductPage start
// ?  ProductBanner
.breadCrumb {
  padding: 2rem 0 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  span {
    font-size: 1.5rem;
    font-weight: 500;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lastChildBread {
    opacity: 0.5;
  }
  strong {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .breadCrumpIcon {
    font-size: 1.5rem;
    color: #111;
  }
}
.productsPageBanner {
  padding: 2rem 0 2.5rem;
  width: 100%;
  // height: 18rem;
  height: 100%;
  border-radius: 1rem;
  .productsPageBannerImage {
    cursor: pointer;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      border-radius: 1rem;
      height: 100%;
      object-fit: contain;
    }
  }
}
// ?  ProductBanner
.productsPageSliderBanner {
  padding: 1rem 0 5rem;
}
.productsBannerSliders {
  width: 100%;
  height: 100%;
  .productsBannerSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 18rem;
    border: 1px solid #f5f5f5;
    border-top-left-radius: 7rem;
    border-bottom-right-radius: 7rem;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    margin-bottom: 1rem;
    &:hover {
      border: 1px solid #ec1f27;
      transition: all 0.4s ease-in-out;
    }
    img {
      width: 100%;
      height: 100%;
      padding: 3rem 1rem;
      object-fit: contain;
    }
  }
}
//! CategoryPage
#categoryPage {
  padding: 2rem 0 3rem;
  .categoryPageLinkData {
    width: 100%;
    height: 100%;
    .categoryPageCard {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #f5f5f5;
      transition: all 0.2s ease-in-out;
      border-radius: 5rem 0.5rem 5rem 0.5rem;
      .categoryPageCardItem {
        padding: 2rem;
        width: 100%;
        height: 18rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          padding: 2rem;
          width: 100%;
          height: 100%;
        }
        span {
          padding: 1rem;
          font-size: 1.6rem;
          font-weight: 600;
          color: #323232;
        }
      }
      &:hover {
        border: 2px solid $MainColor;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
//! CategoryPage

.filterTop {
  padding-top: 1.95rem;
  padding-left: 0.55rem;
  display: flex;
  gap: 1.15rem;
  h1 {
    color: #293881;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-bottom: 1px solid #293881;
    cursor: pointer;
  }
  img {
    width: 1.4rem;
    height: 1.4rem;
    flex-shrink: 0;
  }
  h4 {
    color: #293881;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.3;
    cursor: pointer;
  }
}
.filter-container {
  width: 100%;
}
.filter-title {
  width: 100%;
  color: black;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.034rem;
  margin: 2rem 0;
  background-color: #fff;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.filIcon {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}
//! mobileFilter
.filter-container {
  position: relative;
  padding-right: 1rem;
}
.accordion {
  padding-left: 20px;
}
@media (max-width: 768px) {
  .filter-title {
    border: 1.2px solid #ced2e2 !important;
    border-radius: 10px;
    font-size: 2.2rem !important;
    padding: 3rem 4.5rem;
    height: 4rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    // margin-left: 1rem;
    gap: 2rem;
    align-items: center;
    .filter-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .filter-panel {
    padding: 10rem 5rem 5rem 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
  }
  .filter-panel.active {
    transform: translateX(0);
  }
  .close-btn {
    position: absolute;
    top: 20px;
    right: 23px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
    padding-bottom: 10rem !important;
  }
  .filter-titless {
    position: absolute;
    top: 20px;
    left: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
    color: #293881;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: -0.034rem;
  }
}
.lineFiltered {
  opacity: 0.4;
  background: #cbd9ef;
  width: 100%;
  height: 0.2rem;
  padding: 0 2rem;
  margin: 1rem 0 3rem;
}
@media screen and (min-width: 768px) {
  .close-btn {
    display: none;
  }
  .lineFiltered {
    display: none;
  }
  .filter-titless {
    display: none;
  }
  .applyBTN {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
  .accordion-header {
    font-size: 2.6rem !important;
  }
  .accordion-header span {
    font-size: 8rem !important;
  }
  .accordion-content ul {
    display: flex !important;
    gap: 2rem !important;
  }
  .accordion-content li {
    font-size: 2.5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accordion-content li p {
    font-size: 1.8rem !important;
  }
}
//! mobileFilter
.selectedFilter {
  margin-top: 2rem;
  flex-shrink: 0;
  // border: 1px solid #d7e0ed;
  display: flex;
  gap: 1rem;
  .selectedFilterInner {
    display: flex;
    min-width: 7.8313rem;
    min-height: 2.5945rem;
    border-radius: 4rem;
    gap: 0.5rem;
    background: #f4f8ff;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    span {
      color: #293881;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.01rem;
    }
    p {
      color: #293881;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.01rem;
    }
  }
}
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}
@media (max-width: 767px) {
  // .filter-title {
  //   // transform: translateY(58px);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  .filteredSearch {
    input {
      font-size: 2.5rem !important;
    }
    height: 5.5rem !important;
  }
}
.accordion {
  color: #111;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.02em;
  padding: 2rem 0;
  border-bottom: 0.5px solid lightgray;
}
.accordion-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  cursor: pointer;
  color: #323232;
  font-size: 1.8rem;
  font-style: normal;
  // font-weight: 600;
  line-height: normal;
  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.accordion-header span {
  font-size: 5rem;
}
.accordion-content {
  padding: 12px;
  padding: 2.5rem 0;
}
.accordion-content ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}
.accordion-content li {
  color: var(--Secondary-06, #1c1c1c);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.7;
}
.accordion-content li p {
  color: #29282f;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.accordion-content input {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 0.4rem;
  border: 1px solid #cbd9ef;
}
.filteredSearch {
  width: 28.3451rem;
  width: 100%;
  height: 4.006rem;
  flex-shrink: 0;
  border-radius: 0.8rem;
  border: 1px solid #d7e0ed;
  background: #f4f8ff;
  display: flex;
  margin-bottom: 2.1rem;
  padding-left: 2rem;
  gap: 1.25rem;
  align-items: center;
  img {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    opacity: 0.7;
  }
  input {
    background-color: transparent;
    border: none;
    opacity: 0.7;
    width: 22rem;
    width: 100%;
    color: #293881;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.014rem;
  }
}
.productPageCards {
  padding-bottom: 5rem;
}
.productSecondHomePageProductsCard {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  // margin-bottom: 8rem;
  border-radius: 3rem;
  border: 1px solid #eceff2;
  .secondHomePageProductsCardImage {
    display: flex;
    justify-content: center;
    padding: 2.5rem 0;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .secondHomePageProductsCardContent {
    padding: 0 2rem;
    text-align: start;
    span {
      font-size: 1.6rem;
      color: #111;
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .discount {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 1rem;
      span {
        border-radius: 3rem;
        padding: 0.5rem 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.3rem;
        background-color: #ec1f27;
      }
    }
    .cardBottomContent {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 2rem 0;
      .price {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        .oldPrice {
          text-decoration: line-through;
          opacity: 0.7;
          font-size: 1.3rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .newPrice {
          font-size: 1.6rem;
          color: #ec1f27;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .wishList {
        display: flex;
        gap: 1rem;
        button {
          background-color: #f3f3f3;
          border-radius: 1rem;
          font-size: 2rem;
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #111;
          .newScalePR {
            width: 2.3rem;
            height: 2.3rem;
          }
          .newWishlistPR {
            width: 2.3rem;
            height: 2.3rem;
          }
        }
      }
    }
  }
  .addToCartClick {
    width: 100%;
    height: 8rem;
    margin: 0;
    margin-top: -3rem;
    padding: 0;
    opacity: 0;
    transition: margin-top 0.4s ease-in-out, opacity 0.4s ease-in-out;
    position: absolute;
    z-index: 9999 !important;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border: 1px solid #eceff2;
    border-top: none;
    background-color: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    .addToCartClickItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 2rem;
      .cartBtn {
        background-color: #ec1f27;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 500;
        border-radius: 1rem;
        width: 12rem;
        height: 4.5rem;
      }
      .clickBtn {
        background-color: #f3f3f3;
        color: #111;
        font-size: 1.8rem;
        font-weight: 500;
        border-radius: 1rem;
        width: 12rem;
        height: 4.5rem;
        transition: all 0.4s ease-in-out;
        &:hover {
          background-color: #ec1f27;
          color: #fff;
        }
      }
    }
  }
  &:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 0rem !important;
    border-bottom-left-radius: 0rem !important;
    .addToCartClick {
      width: 100% !important;
      margin-top: -10px;
      margin-left: -5px;
      opacity: 1;
    }
  }
}
// !  ProductPage finish

//! ProductsDetailPage  start
#productsDetailPage {
  .productDPTitle {
    font-size: 2.2rem;
    font-weight: 600;
    color: #111;
    text-align: start;
    padding: 0 0 1rem;
    .productDPRating {
      width: 100%;
      padding-top: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: start;
      gap: 1rem;
      .productDPRatingBox {
        span {
          label {
            font-size: 2rem;
          }
        }
      }
      p {
        font-size: 2rem;
        opacity: 0.7;
      }
    }
  }
}
.productsDPFancybox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}
.productDPDetail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  .depo {
    color: rgb(31, 217, 31);
    cursor: pointer;
    font-size: 2rem;
  }
  .productCode {
    padding-top: 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #111;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    span {
      font-size: 1.8rem;
      font-weight: 500;
      color: #111;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
    }
  }
  .productDPPrices {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .productDPOldPrice {
      text-decoration: line-through;
      font-size: 1.8rem;
    }
    .productDPNewPrice {
      color: $MainColor;
      font-size: 2.4rem;
      font-weight: 600;
    }
  }
  .productsDPButtons {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    .productsDPaddToCart {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      align-items: center;
      width: 18rem;
      height: 5.5rem;
      background-color: $MainColor;
      color: #fff;
      font-size: 2rem;
      font-weight: 500;
      border-radius: 1rem;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: #fff !important;
        color: #111;
        border: 1px solid $MainColor;
        transition: all 0.4s ease-in-out;
      }
    }
    .productsDPbuyNow {
      width: 18rem;
      height: 5.5rem;
      border-radius: 1rem;
      font-size: 2rem;
      font-weight: 500;
      border: 1px solid $MainColor;
      background-color: #fff !important;
    }
    .productsDPwishlist {
      width: 6rem;
      height: 5.5rem;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #fff !important;
        transition: all 0.2s ease-in-out;
        border: 1px solid $MainColor;
      }
      .productsDPwishIcon {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    .productsDPscale {
      width: 6rem;
      height: 5.5rem;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      background-color: #f5f5f5;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #fff !important;
        transition: all 0.2s ease-in-out;
        border: 1px solid $MainColor;
      }
      .productsDPwishIcon {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
  .paymentCalculator {
    padding-top: 2rem;
    .paymentCalculatorTitle {
      display: flex;
      flex-direction: column;
      span {
        color: $MainColor;
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 1rem;
      }
      strong {
        color: #111;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
    .paymentCalculatorButtons {
      padding-top: 2rem;
      display: flex;
      gap: 2rem;
      .paymentCalculatorButton {
        p {
          text-align: center;
          font-size: 1.4rem;
          color: $MainColor;
        }
        button {
          font-size: 1.6rem;
          font-weight: 600;
          background-color: #fff;
          border-radius: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 6rem;
          height: 6rem;
          border: 1.5px solid black;
          cursor: pointer;
          background-color: #fff;
        }
      }
      .monthPayment {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: start;
        color: $MainColor;
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }
  .productsDPBuyInInstallments {
    padding-top: 1.5rem;
    button {
      height: 5.5rem;
      border-radius: 1rem;
      font-size: 1.8rem;
      font-weight: 500;
      border: 1px solid $MainColor;
      background-color: #f5f5f5;
      transition: all 0.2s ease-in-out;
      padding: 1rem 2rem;
      &:hover {
        background-color: #fff !important;
        transition: all 0.2s ease-in-out;
        border: 1px solid $MainColor;
      }
    }
  }
}
.productsDPTechnicalSection {
  padding: 7rem 0;
  .productsDPTechnicalSectionTitle {
    display: flex;
    gap: 2rem;
    button {
      background-color: #fff;
      height: 5.5rem;
      border: 1px solid #d1d1d1;
      padding: 0 2rem;
      border-radius: 1rem;
      font-size: 1.6rem;
      transition: all 0.2s ease-in-out;
      font-weight: 600;
      &:hover {
        color: #111;
        border: 1px solid $MainColor;
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .technicalDetailsContent {
    margin-top: 3rem;
    background-color: #fafbfc;
    border-radius: 1rem;
    .technicalContentAll {
      padding: 4rem 3rem 7rem 3rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
      width: 100%;
      .technicalContent {
        width: 49%;
        border-bottom: 0.5px solid #c4c4c4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem !important;
        span {
          padding: 0.8rem 0.5rem;
          font-size: 1.4rem;
          color: #777;
          font-weight: 550;
        }
        .techContentLeft {
          padding-left: 1.5rem;
        }
        .techContentRight {
          font-weight: 500;
        }
      }
    }
  }
  .productsDPComments {
    margin-top: 3rem;
    span {
      color: #111;
      font-size: 2.6rem;
      font-weight: 700;
    }
    .commentsFormSection {
      padding-top: 3rem;
      .formComment {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        label {
          font-size: 1.7rem;
          font-weight: 600;
          color: #111;
        }
        input {
          border: 1px solid #e8e8e8;
          padding: 1.5rem 1rem;
          font-weight: 500;
          font-size: 1.4rem;
          border-radius: 1rem;
          margin-bottom: 2rem;
        }
        textarea {
          border: 1px solid #e8e8e8;
          padding: 1.5rem 1rem;
          font-weight: 500;
          font-size: 1.4rem;
          border-radius: 1rem;
          min-height: 15rem;
          margin-bottom: 2rem;
        }
        .commentsRating {
          margin: 2rem 0;
          padding-bottom: 1rem;
          .commentsRatingBox {
            span {
              display: flex;
              gap: 2rem;
              color: #faaf00;
              label {
                cursor: pointer;
              }
            }
          }
        }
        .submitCommentBTN {
          width: 20rem;
          height: 5.5rem;
          border-radius: 1rem;
          font-size: 1.8rem;
          color: #fff;
          background-color: $MainColor;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: #fff !important;
            color: #111;
            border: 1px solid $MainColor;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
.fancybox__footer {
  padding: 0 !important;
  margin: 0 !important;
  left: 1px !important;
  position: absolute !important;
  z-index: 2 !important;
  // position: relative !important;
}
.f-button svg {
  width: var(--f-button-svg-width);
  height: var(--f-button-svg-height);
  fill: var(--f-button-svg-fill);
  stroke: currentColor;
  stroke-width: var(--f-button-svg-stroke-width);
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: opacity 0.15s ease;
  transform: var(--f-button-transform);
  filter: var(--f-button-svg-filter);
  pointer-events: none;
  color: black;
  // background: red;
  width: 3rem;
  height: 3rem;
}
.fancybox__track {
  display: flex;
  margin: 0 auto;
  height: 100%;
  background: white !important;
}
.fancybox__backdrop {
  background: white !important;
}
.productsDPFancybox {
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 2rem;
  border: 1.5px solid #f5f5f5;
}
/* Thumbnail-lərin yerləşdiyi oxlu slider wrapper */
.thumbnail-wrapper {
  position: relative;
  width: 12rem;
  // height: 600px;
  max-height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // overflow: hidden;
  overflow: visible;
  // border: 1px solid black;
  margin: 5rem 0 !important;
}
/* Scroll edilə bilən thumbnail sütunu */
.thumbnail-column {
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
  max-height: 37rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  border-radius: 1rem;
}
.thumbnail-column::-webkit-scrollbar {
  display: none; /* Chrome, Safari və Edge */
}
.thumbnail {
  border-radius: 1rem;
  border: 1px solid #f5f5f5;
}
.thumbnail img {
  padding: 1rem;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
/* Ox düymələri */
.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  z-index: 5 !important;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  user-select: none;
  // background-color: #f3f3f3;
  border-radius: 0.5rem;
}
.arrow.up {
  top: -2.6rem;
}
.arrow.down {
  bottom: -2.6rem;
}
/* Əsas şəkil sahəsi */
.main-image {
  // max-width: 600px;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  max-height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
/* Fancybox overlay thumbnail-ləri */
.thumbnails-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  flex-direction: column;
  z-index: 9999;
}
//! ProductsDetailPage

// ! WishlistPage start
.wishlistPage {
  padding: 2rem 0 3rem;
  .wishTitle {
    font-size: 2rem !important;
  }
}
.ptop {
  padding-top: 3rem;
}
// ! WishlistPage finsh

// * Stores Page Start
.stores {
  padding: 2rem 0;
  .storeSearch {
    width: 100%;
    height: 5rem;
    input {
      width: 100%;
      border-radius: 1rem;
      height: 5rem;
      border: none;
      padding: 0 1.5rem;
      font-weight: 500;
      background: #f5f5f5;
      color: gray;
    }
  }
  .storesCard {
    margin-top: 2rem;
    border: 1px solid #acabab;
    border-radius: 1rem;
    .storesCardItem {
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .storesCardItemTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        h5 {
          font-size: 1.6rem;
          font-weight: 600;
        }
        .storeLocationIcon {
          width: 2rem;
          height: 2rem;
        }
      }
      .storesCardItemSubTitle {
        padding: 0 1rem;
        font-size: 1.4rem;
        color: gray;
        font-weight: 400;
      }
      .storesCardItemFooterTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        padding-top: 1rem;
        color: blue;
        strong {
          font-size: 1.4rem;
          font-weight: 600;
        }
        span {
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
    }
    &:hover {
      background-color: $MainColor;
      .storesCardItem {
        color: #fff !important;
      }
      .storesCardItemSubTitle {
        color: #fff !important;
      }
      .storesCardItemFooterTitle {
        color: #fff !important;
      }
    }
  }
}
.storesMap {
  padding: 2rem 0;
  width: 100%;
  height: 60rem;
  border-radius: 1rem;
  iframe {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }
}
// * Stores Page Finish

// ! CartSection
.addToCartProductSection {
  border: 1px solid #f5f5f5;
  border-radius: 1rem;
  margin: 2rem 0;
  .cartProductSectionTop {
    span {
      font-size: 1.4rem;
      font-weight: 500;
      color: #323232;
    }
    .cartTitle {
      font-size: 1.8rem;
      font-weight: 500;
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    padding: 2rem;
    border: 1px solid #f5f5f5;
    border-bottom: 1px solid #9c9c9c;
  }
  .cartProductSectionBottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    button {
      padding: 1rem;
      background-color: #f5f5f5;
      font-size: 1.6rem;
      border-radius: 2rem;
      color: #323232;
    }
    .deleteCartItem {
      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }
  }
}
.cartProduct {
  border: 1px solid #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  margin: 2rem 0 5rem;
  padding: 2rem;
  .cartProductLeft {
    input {
      width: 2rem;
      height: 2rem;
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    .cartProductImage {
      margin: 2rem 0;
      width: 10rem;
      height: 10rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .cartProductTitle {
      padding-left: 1rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 4rem;
      h6 {
        font-size: 1.8rem;
        font-weight: 500;
      }
      button {
        max-width: 14rem;
        font-size: 1.4rem;
        border-radius: 2rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .cartProductRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .cartCount {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.2rem;
      .cartCountIcon {
        font-size: 2rem;
        cursor: pointer;
      }
      span {
        font-size: 1.6rem;
      }
    }
    .cartPrices {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .cartNewPrice {
        font-size: 1.6rem;
        color: $MainColor;
        font-weight: 500;
      }
      .cartOldPrice {
        font-size: 1.4rem;
        text-decoration: line-through;
        color: #323232;
      }
    }
    .closeCartProduct {
      display: flex;
      background-color: #fff;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
    }
  }
}
.addToCartPaymentSection {
  margin: 2rem 0;
  border: 1px solid #f5f5f5;
  border-radius: 1rem;
  .cartPaymentSectionTop {
    .firstCartPaymentSectionTop {
      padding: 2rem 2rem 2.5rem;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #9c9c9c;
      span {
        color: #323232;
        font-size: 1.6rem;
      }
    }
    .secondCartPaymentSectionTop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.8rem;
      border-bottom: 1px solid #f5f5f5;
      gap: 2rem;
      span {
        font-size: 1.6rem;
        font-weight: 500;
        strong {
          color: orange;
          font-size: 1.4rem;
        }
      }
      .cartPrices {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .cartNewPrice {
          font-size: 1.6rem;
          color: $MainColor;
          font-weight: 500;
        }
        .cartOldPrice {
          font-size: 1.4rem;
          text-decoration: line-through;
          color: #323232;
        }
      }
    }
  }
  .discountAndFinalPrice {
    padding: 2rem;
    .discountPrice {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-bottom: 1px solid #f5f5f5;
      padding: 2rem 0;
      .discountPriceAll {
        display: flex;
        justify-content: space-between;
        span {
          font-size: 1.6rem;
        }
        .cartNewPrice {
          font-weight: 500;
          color: #323232;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .discountPricesInner {
        display: flex;
        justify-content: space-between;
        span {
          font-size: 1.6rem;
          font-weight: 500;
        }
        .cartNewPrice {
          font-size: 1.6rem;
          color: $MainColor;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .finalPrice {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3rem 0 2rem;
      span {
        font-size: 1.6rem;
      }
      .cartNewPrice {
        font-size: 1.6rem;
        font-weight: 500;
        color: #323232;
      }
    }
  }
}
.addToCartPaymentButtons {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  button {
    width: 100%;
    border-radius: 1rem;
    height: 6rem;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .officialPaymentBtn {
    background-color: $MainColor;
    color: #fff;
  }
}
// ! CartSection

// ! CampaignPage
#campaignPageCard {
  border-bottom: 1.5px solid gray;
  background-color: #f8f8f8;
  padding: 3rem 0 4rem;
  .campaignPageCard {
    width: 100%;
    background-color: #fff;
    // height: 58rem;
    border-radius: 1rem;
    .campaignPageCardItem {
      .campaignPageCardImage {
        border-radius: 1rem;
        width: 100%;
        height: 31rem;
        img {
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          object-fit: cover;
        }
      }
      .campaignPageCardTitle {
        padding: 2rem 1rem 3rem;
        span {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-size: 2rem;
          color: #323232;
          font-weight: 500;
        }
      }
    }
    .campaignPageCardBottom {
      .campaignPageCardBottomText {
        padding: 2rem 2rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: 1.8rem;
          font-weight: 500;
          color: #323232;
        }
      }
      .campaignPageCardDetailButton {
        padding: 1rem 2rem;
        button {
          height: 6rem;
          width: 100%;
          background-color: $MainColor;
          font-size: 2rem;
          color: #fff;
          border-radius: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}



.circleLine {
  position: relative;
  height: 2rem; // hündürlüyü kartın ayıran yerinə uyğun təyin edirik
  background-color: #fff;
  span {
    width: 3rem;
    height: 3rem;
    background-color: #f8f8f8; // istədiyin rəng
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  .leftCircle {
    left: -1.5rem; // kənara bir az çıxır
  }
  .rightCircle {
    right: -1.5rem; // kənara bir az çıxır
  }
}
  .circleLine::before {
    content: "";
    position: absolute;
    top: 50%; /* Ortadan başlasın */
    left: 0;
    right: 0;
    height: 1px; /* Xəttin qalınlığı */
    background: transparent; /* Xəttin rəngi qırıq olmalı */
    border-top: 2px dashed #f5f5f5; /* Qırıq xəttin rəngi */
    z-index: 1;
  }

// ! CampaignPage
