$MainColor: #ec1f27 !important;

#header {
  .headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 0.5px solid #cbcbcb;

    .logo {
      max-width: 22rem;
      width: 22rem;
      height: 6rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      a {
        width: 100%;
        height: 100%;
        position: relative;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin-top: 0.9rem;
        position: absolute;
        left: -1.7rem;
      }
    }

    .storeAndCorporateSales {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      span {
        a {
          font-size: 1.8rem;
          font-weight: 500;
          color: #323232 !important;
          transition: all 0.2s ease-in-out;

          &:hover {
            transition: all 0.2s ease0-in-out;
            // text-decoration: underline;
            // text-decoration-color: #323232;
            color: #ec1f27 !important;
          }
        }
      }
    }

    .headerTopRight {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .contactCall {
        font-size: 2.2rem;

        a {
          color: #323232 !important;
          font-weight: 600;
        }
      }

      .payment {
        button {
          background-color: transparent;
          border: 1px solid $MainColor;
          padding: 1rem;
          font-weight: 400;
          font-size: 1.4rem;
          border-radius: 1rem;
          height: 4rem;
        }
      }

      .changeLang {
        color: #111;
        border: 1px solid $MainColor;
        font-weight: 400;
        font-size: 1.4rem;
        border-radius: 1rem;
      }
    }
  }

  .headerMiddle {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // gap: 3rem;
    // .rowen {
    //   width: 100%;
    //   display: flex;
    //   justify-content: space-between;
    //   gap: 3rem;
    //   align-items: center;
    // }
    padding: 1rem 0;

    .headerCatalog {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 1.2rem;
      cursor: pointer;
      position: relative;

      span {
        font-size: 2rem;
        font-weight: 500;
        flex-shrink: 0;
      }

      .newCategoryIcon {
        width: 2.5rem;
        height: 2.5rem;
      }

      &:hover {
        span {
          color: #ec1f27;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .headerSearching {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      // width: 80rem;
      .searchContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5f5f5;
        border-radius: 30px;
        padding: 5px;
        width: 95%;
        font-size: 1.8rem;

        input {
          border: none;
          color: red;
          width: 100%;
          height: 100%;
          font-size: 1.8rem;
          outline: none;
          background: transparent;
          padding: 0 1rem;
          cursor: pointer;
          opacity: 0.8;

          &::placeholder {
            color: #777;
            opacity: 1;
            font-size: 1.8rem;
            font-weight: 300;
            letter-spacing: -.02em;
          }
        }

        .searchButtonIcon {
          background: #111;
          color: #fff;
          display: flex;
          cursor: pointer;
          justify-content: center;
          align-items: center;
          padding: 1rem 3rem;
          border-radius: 2rem;
        }

        &:hover {
          .searchButtonIcon {
            color: $MainColor;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    .headerMiddleRight {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 3rem;
      width: 100%;
      height: 100%;

      .rightPagesIcon {
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .newScalet {
          width: 2.5rem;
          height: 2.2rem;
          .cls-1 {
            fill: black !important;
            stroke: black !important;
          }
        }

        .newScale {
          width: 2.5rem;
          height: 2.5rem;
          .cls-1 {
            fill: black !important;
            stroke: black !important;
          }
        }

        .newWishlist {
          width: 2.5rem;
          height: 2.5rem;
          .cls-1 {
            fill: black !important;
            stroke: black !important;
          }
        }

        .newCartIcon {
          width: 2.5rem;
          height: 2.5rem;
          .cls-1 {
            fill: black !important;
            stroke: black !important;
          }

        }
      }
    }
  }
}

@media (max-width: 767.9px) {
  .headerTop {
    padding: 0.5rem 0;
    border-bottom: 0.5px solid #cbcbcb;

    .logo {
      max-width: 20rem;
      width: 20rem;
      height: 6rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      a {
        width: 100%;
        height: 100%;
        position: relative;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin-top: 0.9rem;
        position: absolute;
        left: -1.7rem;
      }
    }

    .storeAndCorporateSales {
      display: none !important;
    }

    .headerTopRight {
      .contactCall {
        font-size: 2.5rem;
      }

      .payment {
        display: none !important;
      }

      .changeLang {
        color: #111;
        border: 1px solid $MainColor;
        font-weight: 400;
        font-size: 1.6rem !important;
        border-radius: 1rem;
      }
    }
  }

  .headerSearching {
    display: flex !important;
  }

  .searchContainer {
    width: 100% !important;
  }

  #header {
    .headerMiddle {
      #headerMiddleRightNotMobile {
        display: none !important;
      }
    }
  }

  .headerCatalog {
    .newCategoryIcon {
      width: 4.5rem !important;
      height: 4.5rem !important;
      padding: 0.5rem !important;
    }

    span {
      display: none !important;
    }
  }


}







.mobileFixedButtons {
  display: none;
}

@media (max-width: 767.9px) {
  .mobileFixedButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    // bottom: 1.6rem;
    bottom: 1rem;
    left: 1.6rem;
    right: 1.6rem;
    z-index: 3;
    background-color: #fff;
    height: 10rem;
    border-radius: 2rem;
    overflow: hidden;
    margin: auto;
    // box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);

    .mobileFixedButton {
      a {
        button {
          background: transparent;

          svg {
            width: 3.5rem !important;
            height: 3.5rem !important;
          }
        }
      }
    }
  }
}

















//! categoryMenu
// .categoryMegaMenu {
//   display: flex;
//   width: 600px;
//   width: 100%;
//   background-color: #fff;
//   border: 1px solid #e0e0e0;
//   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
//   border-radius: 1rem;
// }
// .categoryMegaMenu .leftColumn {
//   width: 200px;
//   border-right: 1px solid #111;
//   width: 30%;
//   padding: 2rem;
//   margin: 1rem 0;
// }
// .categoryMegaMenu .leftColumn ul {
//   display: flex;
//   flex-direction: column;
//   gap: 1.5rem;
// }
// .categoryMegaMenu .rightColumn {
//   flex: 1;
//   margin: 1rem 0;
//   padding: 2rem;
//   min-height: 200px;
// }
// .categoryMegaMenu ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }
// .categoryMegaMenu .leftColumn li a {
//   cursor: pointer;
//   color: #111;
//   font-size: 1.6rem;
//   font-weight: 600;
//   width: 100%;
//   padding: 1rem;
//   display: flex;
//   align-items: flex-start;
//   gap: 2rem;
// }
// .categoryLeftIcon {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 1.5rem;
//   height: 1.5rem;
//   font-size: 4rem;
//   max-width: 3rem;
// }

// .ee {
//   margin-right: 1rem;
// }
// #categoryLeftIconTV {
//   width: 2.7rem;
//   height: 2rem;
// }
// #categoryLeftIconLaptop {
//   width: 3rem;
//   width: 2.7rem;
//   height: 2rem;
// }
// #categoryLeftIconMeiset {
//   width: 3rem;
//   width: 2.7rem;
//   height: 2rem;
// }
// #categoryLeftIconFan {
//   width: 3rem;
//   width: 2.7rem;
//   height: 2rem;
// }
// #categoryLeftIconMebel {
//   width: 3rem;
//   width: 2.7rem;
//   height: 2rem;
//   // margin-right: 0.3rem;
// }
// .categoryMegaMenu .leftColumn li:hover {
//   background-color: lightgray;
//   border-radius: 1rem;
//   .categoryLeftIcon {
//     svg {
//       fill: $MainColor;
//     }
//   }
// }
// .categoryMegaMenu .rightColumn a {
//   color: rgb(122, 122, 122);
//   text-decoration: none;
//   font-weight: 550;
// }
// .categoryMegaMenu .rightColumn a:hover {
//   text-decoration: underline;
// }
// .rightColumnItems {
//   display: flex;
//   padding-left: 2rem;
//   gap: 10rem;
//   .rightColumnItem {
//     .catgorySubTitle a{
//       font-size: 1.8rem !important;
//       font-weight: 700 !important;
//       color: #111;
//       text-decoration: none;
//     }
//     ul {
//       padding-top: 2rem;
//       display: flex;
//       flex-direction: column;
//       gap: 1.5rem;
//       li {
//         font-size: 1.5rem;
//         font-weight: 600;
//         letter-spacing: 0.05rem;
//       }
//     }
//   }
// }
//! categoryMenu

// ! EN SON VERSIYA
/* Ümumi Stil */
.categoryMegaMenu {
  display: flex;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

/* Sol  (Kateqoriyalar) */
.leftColumn {
  width: 30%;
  border-right: 1px solid #111;
  padding: 2rem;
  margin: 1rem 0;
}

.leftColumn ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.leftColumn ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftColumn li a {
  cursor: pointer;
  color: #111;
  font-size: 1.7rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
}

.leftColumn li:hover {
  background-color: lightgray;
  border-radius: 1rem;
}

.leftColumn li:hover .categoryLeftIcon svg {
  fill: $MainColor;
}

.categoryLeftIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 4rem;
  max-width: 3rem;
}

.ee {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ee .phoneIcon {
  width: 2.7rem;
  height: 2.7rem;
  position: absolute;
  left: 0.01rem;
}

#categoryLeftIconTV,
#categoryLeftIconLaptop,
#categoryLeftIconMeiset,
#categoryLeftIconFan,
#categoryLeftIconMebel {
  width: 2.7rem !important;
  height: 2rem !important;
}

/* Sağ Tərəf (Alt Kateqoriyalar) */
.rightColumn {
  flex: 1;
  margin: 1rem 0;
  padding: 2rem;
  min-height: 200px;
}

.rightColumn a {
  color: rgb(122, 122, 122);
  font-weight: 550;
  text-decoration: none;
}

.rightColumn a:hover {
  text-decoration: underline;
}

.rightColumnItems {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  padding-left: 2rem;
}

.rightColumnItem .catgorySubTitle a {
  font-size: 1.8rem !important;
  font-weight: 600 !important;
  color: #111;
  text-decoration: none;
}

.rightColumnItem ul {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.rightColumnItem ul li {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

/* Mobil */
@media (max-width: 767.9px) {
  .categoryMegaMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1000;
    border-radius: 0;
    flex-direction: column;
  }

  .leftColumn {
    width: 100%;
    padding: 2rem;
    border-right: none;
  }

  .leftColumn ul {
    gap: 2rem !important;
  }

  .leftColumn li a {
    font-size: 2.1rem !important;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  #categoryLeftIconTV,
  #categoryLeftIconLaptop,
  #categoryLeftIconMeiset,
  #categoryLeftIconFan,
  #categoryLeftIconMebel {
    width: 3rem !important;
    height: 3rem !important;
  }

  .categoryLeftIcon svg {
    width: 3rem !important;
    height: 3rem !important;
  }

  .rightColumn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1001;
    padding: 2rem;
    display: none;
  }

  .categoryMegaMenu.active .rightColumn {
    display: block;
  }

  .categoryMegaMenu.active .leftColumn {
    display: none;
  }

  .rightColumn p {
    font-size: 2.1rem !important;
    padding: 0rem 0 2.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    width: 20rem;
    text-align: start;
  }

  .rightColumnItems {
    padding: 2rem;
  }

  .rightColumnItem ul li {
    font-size: 2rem !important;
    padding: 1rem 0;
  }

  .catgorySubTitle a {
    font-size: 2.2rem !important;
  }
}

.arrowIcon {
  font-size: 2rem;
  margin-left: auto;
  cursor: pointer;
}

@media (max-width: 767.9px) {
  .leftColumn li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .leftColumn li:hover {
    background-color: white !important;
  }

  .arrowIcon {
    font-size: 2.5rem;
  }
}

.arrowIcon {
  display: none;
  /* Desktopda gizlət */
}

@media (max-width: 767.9px) {
  .arrowIcon {
    display: inline;
    /* Mobil versiyada göstər */
  }
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 3rem;

  span {
    font-size: 2rem;
  }
}

@media (max-width: 767.9px) {
  .menuHeader {
    display: block;
    /* Mobil versiyada göstər */
  }
}

.mobileMenuHeader {
  display: none;
}

@media (max-width: 767.9px) {
  .mobileMenuHeader {
    width: 100%;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem 3rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 3rem;

    span {
      font-size: 2rem;
      font-weight: 600;
      color: #111;
      text-decoration: none;
    }
  }

  // Mobile
  .rightColumnItems {
    padding: 1rem !important;
    display: flex;
    gap: 3rem !important;

    ul {
      padding: 0 !important;

      li {
        color: #111 !important;
        font-size: 2rem !important;
        font-weight: 600 !important;
      }
    }
  }

  .categoryMegaMenu .rightColumn a {
    color: #111 !important;
  }

  .categoryMegaMenu .rightColumn .rightColumnItems .rightColumnItem .catgorySubTitle a {
    font-size: 2.2rem !important;
    font-weight: 600 !important;
  }

  .categoryMegaMenu .rightColumn a {
    font-size: 2rem !important;
    font-weight: 600 !important;
    text-decoration: none !important;
  }
}

// ! EN SON VERSIYA