$MainColor: #ec1f27 !important;
#header {
  .headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 1rem;
    border-bottom: 0.5px solid #cbcbcb;
    .logo {
      max-width: 20rem;
      width: 20rem;
      height: 6rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      a {
        width: 100%;
        height: 100%;
        position: relative;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin-top: 0.9rem;
        position: absolute;
        left: -1.7rem;
      }
    }
    .storeAndCorporateSales {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      span {
        a {
          font-size: 1.8rem;
          font-weight: 500;
          color: #323232 !important;
          transition: all 0.4s ease;
          &:hover {
            transition: all 0.2s ease-in-out;
            color: $MainColor !important;
            text-decoration: underline;
          }
        }
      }
    }
    .headerTopRight {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.4rem;
      .contactCall {
        font-size: 2.2rem;
        a {
          color: #323232 !important;
          font-weight: 600;
        }
      }
      .payment {
        button {
          background-color: transparent;
          border: 1px solid lightgreen;
          padding: 1rem;
          font-weight: 400;
          font-size: 1.4rem;
          border-radius: 1rem;
        }
      }
      .changeLang {
        font-size: 1.6rem;
        color: $MainColor;
      }
    }
  }
  .headerMiddle {
    padding: 2rem 0;
    .headerCatalog {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 1.5rem;
      cursor: pointer;
      position: relative;
      span {
        font-size: 2.2rem;
        font-weight: 600;
        flex-shrink: 0;
      }
      .newCategoryIcon {
        width: 3rem;
        height: 3rem;
      }
      &:hover {
        span {
          color: #ec1f27;
          transition: all 0.3s ease-in-out;
        }
      }
      // .blackCategoryIcon,
      // .redCategoryIcon {
      //   width: 3rem;
      //   height: 3rem;
      //   position: absolute;
      //   transition: opacity 0.3s ease, transform 0.3s ease;
      // }
      // .blackCategoryIcon {
      //   opacity: 1;
      //   transform: scale(1);
      // }
      // .redCategoryIcon {
      //   opacity: 0;
      //   transform: scale(1);
      // }
      // &:hover {
      //   .blackCategoryIcon {
      //     opacity: 0;
      //     transform: scale(1);
      //   }
      //   .redCategoryIcon {
      //     opacity: 1;
      //     transform: scale(1);
      //   }
      //   span {
      //     color: #ec1f27;
      //     transition: all 0.3s ease-in-out;
      //   }
      // }
    }
    .headerSearching {
      .searchContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5f5f5;
        border-radius: 30px;
        padding: 10px 15px;
        width: 100%;
        font-size: 1.8rem;
        input {
          border: none;
          width: 100%;
          height: 100%;
          font-size: 1.8rem;
          outline: none;
          background: transparent;
          padding: 0 1rem;
          cursor: pointer;
          opacity: 0.8;
        }
        .searchButtonIcon {
          background: #111;
          color: #fff;
          display: flex;
          cursor: pointer;
          justify-content: center;
          align-items: center;
          padding: 1rem 3rem;
          border-radius: 2rem;
        }
        &:hover {
          .searchButtonIcon {
            color: $MainColor;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
    // .headerMiddleRight {
    //   display: flex;
    //   justify-content: flex-end;
    //   align-items: center;
    //   width: 100%;
    //   height: 100%;
    //   .comparisonPageIcon{
    //     button{
    //       background-color: transparent;
    //     }
    //     .blackComparisonIcon{
    //       width: 3rem;
    //       height: 3rem;
    //     }
    //     .redComparisonIcon{
    //       display: none;
    //       width: 3rem;
    //       height: 3rem;
    //     }
    //   }
    // }



    .headerMiddleRight {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 3rem;
      width: 100%;
      height: 100%;
      .rightPagesIcon {
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .newScale{
          width: 2.5rem;
          height: 2.5rem;
        }
        .newWishlist{
          width: 2.5rem;
          height: 2.5rem;
        }
        .newCartIcon{
          width: 2.5rem;
          height: 2.5rem;
        }
        // .rightPagesIconBlackIcons,
        // .rightPagesIconRedIcons {
        //   width: 2rem;
        //   height: 2rem;
        //   transition: opacity 0.3s ease, transform 0.3s ease;
        // }
        // .rightPagesIconBlackIcons {
        //   opacity: 1;
        //   transform: scale(1);
        // }
        // .rightPagesIconRedIcons {
        //   opacity: 0;
        //   transform: scale(1);
        //   position: absolute;
        // }
        // &:hover {
        //   .rightPagesIconBlackIcons {
        //     opacity: 0;
        //     transform: scale(1);
        //   }
        //   .rightPagesIconRedIcons {
        //     opacity: 1;
        //     transform: scale(1);
        //   }
        // }
      }
    }
  }
}

//! categoryMenu---------------------
.categoryMegaMenu {
  display: flex;
  width: 600px;
  width: 100%;
  // background: rgb(231, 231, 231);
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.categoryMegaMenu .leftColumn {
  width: 200px;
  width: 30%;
  padding: 2rem;
  border-right: 1px solid #111;
}
.categoryMegaMenu .leftColumn ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.categoryMegaMenu .rightColumn {
  flex: 1;
  padding: 2rem;
  min-height: 200px;
}
.categoryMegaMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.categoryMegaMenu .leftColumn li {
  cursor: pointer;
  color: #111;
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
  padding: 1rem;
  display: flex;
  // justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.categoryLeftIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  // max-width: 3rem;
}
.ee {
  margin-right: 2.5rem;
}
#categoryLeftIconTV {
  width: 3rem;
  height: 2rem;
}
#categoryLeftIconLaptop {
  width: 3rem;
  height: 2rem;
}
#categoryLeftIconMeiset {
  width: 3rem;
  height: 2rem;
}
#categoryLeftIconFan {
  width: 3rem;
  height: 2rem;
}
#categoryLeftIconMebel {
  width: 3.7rem;
  height: 2rem;
  margin-right: 0.3rem;
}
.categoryMegaMenu .leftColumn li:hover {
  // background-color: rgb(187, 187, 187);
  background-color: lightgray;
  border-radius: 1rem;
  .categoryLeftIcon {
    svg {
      fill: $MainColor;
    }
  }
}
.categoryMegaMenu .rightColumn a {
  color: rgb(122, 122, 122);
  text-decoration: none;
  font-weight: 550;
}
.categoryMegaMenu .rightColumn a:hover {
  text-decoration: underline;
}
.rightColumnItems {
  display: flex;
  padding-left: 2rem;
  gap: 10rem;
  .rightColumnItem {
    .catgorySubTitle {
      font-size: 1.8rem !important;
      font-weight: 700 !important;
    }
    ul {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      li {
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
      }
    }
  }
}
//! categoryMenu---------------------
